h1 {
    color: blue
}

.red-title {
    color: red;
    font-size: 30px;
    font-style:italic;
}

.blue-title {
    color: blue;
    font-size: 20;
    font-style:normal;
}

p {
    color: rgb(25, 0, 255);
    margin: 120px;
    /* Tablolar */
table {
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 2px solid;
}

/* Araba Markaları Tablosu */
.red-border {
    width: 90%;
}

.red-border th, .red-border td {
    border-color: red;
}

/* Kişisel Bilgiler Tablosu */
.blue-border {
    width: 90%;
}

.blue-border th, .blue-border td {
    border-color: blue;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #004080;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

div{
    width: 300px;
    margin: auto;
}